n8n/_live_wf10.json
{"updatedAt": "2026-03-26T00:05:05.019Z", "createdAt": "2026-03-25T14:10:38.849Z", "id": "SjXGu8XmvLgCZaJu", "name": "WF-10 · Resumo IA de Conversa → WhatsApp Vendedor", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"content": "## WF-10 · Resumo IA → WhatsApp Vendedor\n\n**Edite o node ⚙️ Configurações** para ajustar:\n- `systemPrompt` — instrução do agente IA\n- `model` — modelo OpenAI (gpt-4o-mini, gpt-4o, etc)\n- `contextWindowLength` — número de mensagens de contexto na memória\n\n**Pré-requisitos:**\n- Vendedor com phone no perfil do CRM\n- Conversa encerrada (status = resolved) antes do evento", "height": 200, "width": 460}, "id": "wf10-sticky-config", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-1200, 80]}, {"parameters": {"httpMethod": "POST", "path": "conv-summary", "responseMode": "responseNode", "options": {}}, "id": "wf10-node-01", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-1200, 320], "webhookId": "314699ae-8486-4ce4-b6b1-e0559d57f997"}, {"parameters": {"assignments": {"assignments": [{"id": "cfg-01", "name": "systemPrompt", "value": "Você é um assistente especializado em vendas. Analisa conversas e gera resumos concisos e acionáveis para vendedores. Responda sempre em português.", "type": "string"}, {"id": "cfg-02", "name": "model", "value": "gpt-4o-mini", "type": "string"}, {"id": "cfg-03", "name": "contextWindowLength", "value": 10, "type": "number"}]}, "options": {}}, "id": "wf10-node-cfg", "name": "⚙️ Configurações", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-960, 320]}, {"parameters": {"respondWith": "json", "responseBody": "{ \"ok\": true }", "options": {}}, "id": "wf10-node-respond", "name": "Respond 200 OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [-960, 512]}, {"parameters": {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 3}, "conditions": [{"id": "check-conv-id", "leftValue": "={{ $('Webhook').first().json.body.conversation_id }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}], "combinator": "and"}, "options": {}}, "id": "wf10-node-03", "name": "IF - Has conversation_id", "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-720, 320]}, {"parameters": {"jsCode": "const body = $('Webhook').first().json.body;\nconst convId = (body.conversation_id || '').trim();\nconst companyId = (body.company_id || '').trim();\n\nconst SUPA = 'https://fhkhamwrfwtacwydukvb.supabase.co';\nconst KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY';\nconst headers = { 'apikey': KEY, 'Authorization': `Bearer ${KEY}`, 'Content-Type': 'application/json' };\n\nconst convResp = await this.helpers.httpRequest({ method: 'GET', url: `${SUPA}/rest/v1/conversations?id=eq.${convId}&select=assignee_id,channel_connection_id,contact_name,contact_identifier`, headers });\nconst conv = convResp[0] || {};\n\nconst msgs = await this.helpers.httpRequest({ method: 'GET', url: `${SUPA}/rest/v1/messages?conversation_id=eq.${convId}&order=sent_at.asc&select=direction,sender_type,content,sent_at`, headers });\n\nlet sellerPhone = null, sellerName = 'Vendedor';\nif (conv.assignee_id) {\n  const p = await this.helpers.httpRequest({ method: 'GET', url: `${SUPA}/rest/v1/profiles?id=eq.${conv.assignee_id}&select=name,phone`, headers });\n  if (p[0]) {\n    sellerName = p[0].name || 'Vendedor';\n    let phone = (p[0].phone || '').replace(/\\D/g, '');\n    if (phone && !phone.startsWith('55')) phone = '55' + phone;\n    sellerPhone = phone || null;\n  }\n}\n\nlet instanceName = null;\nif (conv.channel_connection_id) {\n  const c = await this.helpers.httpRequest({ method: 'GET', url: `${SUPA}/rest/v1/channel_connections?id=eq.${conv.channel_connection_id}&select=external_id,name`, headers });\n  if (c[0]) instanceName = c[0].external_id || c[0].name;\n}\n\nreturn [{ json: {\n  convId, companyId,\n  contactName: conv.contact_name || conv.contact_identifier || 'Cliente',\n  sellerPhone, sellerName, instanceName,\n  messages: msgs, messageCount: msgs.length,\n  hasRequired: !!(sellerPhone && instanceName && msgs.length > 0)\n} }];"}, "id": "wf10-node-04", "name": "Code - Fetch All Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-480, 224]}, {"parameters": {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 3}, "conditions": [{"id": "check-required", "leftValue": "={{ $json.hasRequired }}", "rightValue": "", "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "wf10-node-05", "name": "IF - Has Required Data", "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-240, 224]}, {"parameters": {"jsCode": "const data = $json;\nconst cfg = $('⚙️ Configurações').first().json;\n\nconst transcript = data.messages\n  .filter(m => m.content?.trim())\n  .map(m => {\n    const who = m.sender_type === 'lead' ? '👤 Cliente' : m.sender_type === 'agent' ? '👔 Vendedor' : '🤖 Bot';\n    return `${who}: ${m.content}`;\n  })\n  .join('\\n');\n\nconst userMessage = `Analise esta conversa com ${data.contactName} e gere um resumo para o vendedor ${data.sellerName}.\n\nO resumo deve conter:\n- Interesse principal do cliente\n- Pontos discutidos\n- Receptividade/sentimento do cliente\n- Próximos passos sugeridos\n\nConversa:\n---\n${transcript}\n---\n\nResponda em português, de forma direta e acionável. Máximo 300 palavras.`;\n\nreturn [{ json: { ...data, transcript, userMessage, systemPrompt: cfg.systemPrompt, model: cfg.model, contextWindowLength: cfg.contextWindowLength } }];"}, "id": "wf10-node-06", "name": "Code - Build Transcript", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 224]}, {"parameters": {"agent": "toolsAgent", "promptType": "define", "text": "={{ $json.userMessage }}", "options": {"systemMessage": "={{ $('⚙️ Configurações').first().json.systemPrompt }}\n\n---\nDados da conversa atual:\n- conversation_id: {{ $('Code - Fetch All Data').first().json.convId }}\n- Contato: {{ $('Code - Fetch All Data').first().json.contactName }}\n- Vendedor: {{ $('Code - Fetch All Data').first().json.sellerName }}\n- Total de mensagens: {{ $('Code - Fetch All Data').first().json.messageCount }}\n- company_id: {{ $('Code - Fetch All Data').first().json.companyId }}"}}, "id": "wf10-node-agent", "name": "AI Agent", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.7, "position": [240, 224]}, {"parameters": {"model": {"__rl": true, "value": "gpt-4o", "mode": "list", "cachedResultName": "gpt-4o"}, "options": {"maxTokens": 600, "temperature": 0.3}}, "id": "wf10-node-llm", "name": "OpenAI Chat Model", "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.2, "position": [112, 448], "credentials": {"openAiApi": {"id": "0zoOKqjrBVgvBvSE", "name": "resumo vendedor"}}}, {"parameters": {"jsCode": "const prevData = $('Code - Fetch All Data').first().json;\nconst summary = $input.first().json.output || 'Não foi possível gerar o resumo.';\nconst message = `📋 *Resumo da conversa com ${prevData.contactName}*\\n\\n${summary}\\n\\n_NexSales CRM_`;\nreturn [{ json: { convId: prevData.convId, sellerPhone: prevData.sellerPhone, instanceName: prevData.instanceName, sellerName: prevData.sellerName, contactName: prevData.contactName, summary, whatsappMessage: message } }];"}, "id": "wf10-node-08", "name": "Code - Format WhatsApp Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [544, 224]}, {"parameters": {"method": "PATCH", "url": "=https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/conversations?id=eq.{{ $json.convId }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=minimal"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ ai_summary: $json.summary, ai_summary_at: new Date().toISOString() }) }}", "options": {}}, "id": "wf10-node-12", "name": "HTTP - Save Summary to Supabase", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [720, 224], "continueOnFail": true}, {"parameters": {"method": "POST", "url": "=https://easypanel.julianosalles.com.br/message/sendText/{{ $json.instanceName }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "LZLQMWZUSZSRPEIJLMVXBDPRQYVUZBCI"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ number: $json.sellerPhone, text: $json.whatsappMessage, delay: 1200 }) }}", "options": {}}, "id": "wf10-node-09", "name": "HTTP - Evolution sendText", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [960, 224], "continueOnFail": true}, {"parameters": {}, "id": "wf10-node-10", "name": "NoOp - Skip sem conversation_id", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-720, 528]}, {"parameters": {}, "id": "wf10-node-11", "name": "NoOp - Skip dados insuficientes", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-240, 528]}], "connections": {"Webhook": {"main": [[{"node": "⚙️ Configurações", "type": "main", "index": 0}, {"node": "Respond 200 OK", "type": "main", "index": 0}]]}, "⚙️ Configurações": {"main": [[{"node": "IF - Has conversation_id", "type": "main", "index": 0}]]}, "IF - Has conversation_id": {"main": [[{"node": "Code - Fetch All Data", "type": "main", "index": 0}], [{"node": "NoOp - Skip sem conversation_id", "type": "main", "index": 0}]]}, "Code - Fetch All Data": {"main": [[{"node": "IF - Has Required Data", "type": "main", "index": 0}]]}, "IF - Has Required Data": {"main": [[{"node": "Code - Build Transcript", "type": "main", "index": 0}], [{"node": "NoOp - Skip dados insuficientes", "type": "main", "index": 0}]]}, "Code - Build Transcript": {"main": [[{"node": "AI Agent", "type": "main", "index": 0}]]}, "AI Agent": {"main": [[{"node": "Code - Format WhatsApp Message", "type": "main", "index": 0}]]}, "Code - Format WhatsApp Message": {"main": [[{"node": "HTTP - Save Summary to Supabase", "type": "main", "index": 0}]]}, "HTTP - Save Summary to Supabase": {"main": [[{"node": "HTTP - Evolution sendText", "type": "main", "index": 0}]]}, "OpenAI Chat Model": {"ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "America/Sao_Paulo", "saveDataErrorExecution": "all", "saveDataSuccessExecution": "all", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false, "binaryMode": "separate", "saveManualExecutions": true}, "staticData": null, "meta": {"templateCredsSetupCompleted": true}, "pinData": {}, "versionId": "563dd136-3916-448a-b955-0feed430ebaf", "activeVersionId": "563dd136-3916-448a-b955-0feed430ebaf", "versionCounter": 52, "triggerCount": 1, "shared": [{"updatedAt": "2026-03-25T14:10:38.856Z", "createdAt": "2026-03-25T14:10:38.856Z", "role": "workflow:owner", "workflowId": "SjXGu8XmvLgCZaJu", "projectId": "pPgxTRwY0nd0PR8B", "project": {"updatedAt": "2025-07-07T23:46:10.948Z", "createdAt": "2025-07-07T23:43:16.782Z", "id": "pPgxTRwY0nd0PR8B", "name": "Juiano Salles <jukasalleso@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "459911c5-b6ba-425a-82da-38c1f7677fde"}}], "tags": [], "activeVersion": {"updatedAt": "2026-03-26T00:05:05.021Z", "createdAt": "2026-03-26T00:05:05.021Z", "versionId": "563dd136-3916-448a-b955-0feed430ebaf", "workflowId": "SjXGu8XmvLgCZaJu", "nodes": [{"parameters": {"content": "## WF-10 · Resumo IA → WhatsApp Vendedor\n\n**Edite o node ⚙️ Configurações** para ajustar:\n- `systemPrompt` — instrução do agente IA\n- `model` — modelo OpenAI (gpt-4o-mini, gpt-4o, etc)\n- `contextWindowLength` — número de mensagens de contexto na memória\n\n**Pré-requisitos:**\n- Vendedor com phone no perfil do CRM\n- Conversa encerrada (status = resolved) antes do evento", "height": 200, "width": 460}, "id": "wf10-sticky-config", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-1200, 80]}, {"parameters": {"httpMethod": "POST", "path": "conv-summary", "responseMode": "responseNode", "options": {}}, "id": "wf10-node-01", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-1200, 320], "webhookId": "314699ae-8486-4ce4-b6b1-e0559d57f997"}, {"parameters": {"assignments": {"assignments": [{"id": "cfg-01", "name": "systemPrompt", "value": "Você é um assistente especializado em vendas. Analisa conversas e gera resumos concisos e acionáveis para vendedores. Responda sempre em português.", "type": "string"}, {"id": "cfg-02", "name": "model", "value": "gpt-4o-mini", "type": "string"}, {"id": "cfg-03", "name": "contextWindowLength", "value": 10, "type": "number"}]}, "options": {}}, "id": "wf10-node-cfg", "name": "⚙️ Configurações", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-960, 320]}, {"parameters": {"respondWith": "json", "responseBody": "{ \"ok\": true }", "options": {}}, "id": "wf10-node-respond", "name": "Respond 200 OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [-960, 512]}, {"parameters": {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 3}, "conditions": [{"id": "check-conv-id", "leftValue": "={{ $('Webhook').first().json.body.conversation_id }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}], "combinator": "and"}, "options": {}}, "id": "wf10-node-03", "name": "IF - Has conversation_id", "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-720, 320]}, {"parameters": {"jsCode": "const body = $('Webhook').first().json.body;\nconst convId = (body.conversation_id || '').trim();\nconst companyId = (body.company_id || '').trim();\n\nconst SUPA = 'https://fhkhamwrfwtacwydukvb.supabase.co';\nconst KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY';\nconst headers = { 'apikey': KEY, 'Authorization': `Bearer ${KEY}`, 'Content-Type': 'application/json' };\n\nconst convResp = await this.helpers.httpRequest({ method: 'GET', url: `${SUPA}/rest/v1/conversations?id=eq.${convId}&select=assignee_id,channel_connection_id,contact_name,contact_identifier`, headers });\nconst conv = convResp[0] || {};\n\nconst msgs = await this.helpers.httpRequest({ method: 'GET', url: `${SUPA}/rest/v1/messages?conversation_id=eq.${convId}&order=sent_at.asc&select=direction,sender_type,content,sent_at`, headers });\n\nlet sellerPhone = null, sellerName = 'Vendedor';\nif (conv.assignee_id) {\n  const p = await this.helpers.httpRequest({ method: 'GET', url: `${SUPA}/rest/v1/profiles?id=eq.${conv.assignee_id}&select=name,phone`, headers });\n  if (p[0]) {\n    sellerName = p[0].name || 'Vendedor';\n    let phone = (p[0].phone || '').replace(/\\D/g, '');\n    if (phone && !phone.startsWith('55')) phone = '55' + phone;\n    sellerPhone = phone || null;\n  }\n}\n\nlet instanceName = null;\nif (conv.channel_connection_id) {\n  const c = await this.helpers.httpRequest({ method: 'GET', url: `${SUPA}/rest/v1/channel_connections?id=eq.${conv.channel_connection_id}&select=external_id,name`, headers });\n  if (c[0]) instanceName = c[0].external_id || c[0].name;\n}\n\nreturn [{ json: {\n  convId, companyId,\n  contactName: conv.contact_name || conv.contact_identifier || 'Cliente',\n  sellerPhone, sellerName, instanceName,\n  messages: msgs, messageCount: msgs.length,\n  hasRequired: !!(sellerPhone && instanceName && msgs.length > 0)\n} }];"}, "id": "wf10-node-04", "name": "Code - Fetch All Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-480, 224]}, {"parameters": {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 3}, "conditions": [{"id": "check-required", "leftValue": "={{ $json.hasRequired }}", "rightValue": "", "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "wf10-node-05", "name": "IF - Has Required Data", "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-240, 224]}, {"parameters": {"jsCode": "const data = $json;\nconst cfg = $('⚙️ Configurações').first().json;\n\nconst transcript = data.messages\n  .filter(m => m.content?.trim())\n  .map(m => {\n    const who = m.sender_type === 'lead' ? '👤 Cliente' : m.sender_type === 'agent' ? '👔 Vendedor' : '🤖 Bot';\n    return `${who}: ${m.content}`;\n  })\n  .join('\\n');\n\nconst userMessage = `Analise esta conversa com ${data.contactName} e gere um resumo para o vendedor ${data.sellerName}.\n\nO resumo deve conter:\n- Interesse principal do cliente\n- Pontos discutidos\n- Receptividade/sentimento do cliente\n- Próximos passos sugeridos\n\nConversa:\n---\n${transcript}\n---\n\nResponda em português, de forma direta e acionável. Máximo 300 palavras.`;\n\nreturn [{ json: { ...data, transcript, userMessage, systemPrompt: cfg.systemPrompt, model: cfg.model, contextWindowLength: cfg.contextWindowLength } }];"}, "id": "wf10-node-06", "name": "Code - Build Transcript", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 224]}, {"parameters": {"agent": "toolsAgent", "promptType": "define", "text": "={{ $json.userMessage }}", "options": {"systemMessage": "={{ $('⚙️ Configurações').first().json.systemPrompt }}\n\n---\nDados da conversa atual:\n- conversation_id: {{ $('Code - Fetch All Data').first().json.convId }}\n- Contato: {{ $('Code - Fetch All Data').first().json.contactName }}\n- Vendedor: {{ $('Code - Fetch All Data').first().json.sellerName }}\n- Total de mensagens: {{ $('Code - Fetch All Data').first().json.messageCount }}\n- company_id: {{ $('Code - Fetch All Data').first().json.companyId }}"}}, "id": "wf10-node-agent", "name": "AI Agent", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.7, "position": [240, 224]}, {"parameters": {"model": {"__rl": true, "value": "gpt-4o", "mode": "list", "cachedResultName": "gpt-4o"}, "options": {"maxTokens": 600, "temperature": 0.3}}, "id": "wf10-node-llm", "name": "OpenAI Chat Model", "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.2, "position": [112, 448], "credentials": {"openAiApi": {"id": "0zoOKqjrBVgvBvSE", "name": "resumo vendedor"}}}, {"parameters": {"jsCode": "const prevData = $('Code - Fetch All Data').first().json;\nconst summary = $input.first().json.output || 'Não foi possível gerar o resumo.';\nconst message = `📋 *Resumo da conversa com ${prevData.contactName}*\\n\\n${summary}\\n\\n_NexSales CRM_`;\nreturn [{ json: { convId: prevData.convId, sellerPhone: prevData.sellerPhone, instanceName: prevData.instanceName, sellerName: prevData.sellerName, contactName: prevData.contactName, summary, whatsappMessage: message } }];"}, "id": "wf10-node-08", "name": "Code - Format WhatsApp Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [544, 224]}, {"parameters": {"method": "PATCH", "url": "=https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/conversations?id=eq.{{ $json.convId }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=minimal"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ ai_summary: $json.summary, ai_summary_at: new Date().toISOString() }) }}", "options": {}}, "id": "wf10-node-12", "name": "HTTP - Save Summary to Supabase", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [720, 224], "continueOnFail": true}, {"parameters": {"method": "POST", "url": "=https://easypanel.julianosalles.com.br/message/sendText/{{ $json.instanceName }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "LZLQMWZUSZSRPEIJLMVXBDPRQYVUZBCI"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ number: $json.sellerPhone, text: $json.whatsappMessage, delay: 1200 }) }}", "options": {}}, "id": "wf10-node-09", "name": "HTTP - Evolution sendText", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [960, 224], "continueOnFail": true}, {"parameters": {}, "id": "wf10-node-10", "name": "NoOp - Skip sem conversation_id", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-720, 528]}, {"parameters": {}, "id": "wf10-node-11", "name": "NoOp - Skip dados insuficientes", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-240, 528]}], "connections": {"Webhook": {"main": [[{"node": "⚙️ Configurações", "type": "main", "index": 0}, {"node": "Respond 200 OK", "type": "main", "index": 0}]]}, "⚙️ Configurações": {"main": [[{"node": "IF - Has conversation_id", "type": "main", "index": 0}]]}, "IF - Has conversation_id": {"main": [[{"node": "Code - Fetch All Data", "type": "main", "index": 0}], [{"node": "NoOp - Skip sem conversation_id", "type": "main", "index": 0}]]}, "Code - Fetch All Data": {"main": [[{"node": "IF - Has Required Data", "type": "main", "index": 0}]]}, "IF - Has Required Data": {"main": [[{"node": "Code - Build Transcript", "type": "main", "index": 0}], [{"node": "NoOp - Skip dados insuficientes", "type": "main", "index": 0}]]}, "Code - Build Transcript": {"main": [[{"node": "AI Agent", "type": "main", "index": 0}]]}, "AI Agent": {"main": [[{"node": "Code - Format WhatsApp Message", "type": "main", "index": 0}]]}, "Code - Format WhatsApp Message": {"main": [[{"node": "HTTP - Save Summary to Supabase", "type": "main", "index": 0}]]}, "HTTP - Save Summary to Supabase": {"main": [[{"node": "HTTP - Evolution sendText", "type": "main", "index": 0}]]}, "OpenAI Chat Model": {"ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]}}, "authors": "Juiano Salles", "name": null, "description": null, "autosaved": false, "workflowPublishHistory": [{"createdAt": "2026-03-26T00:05:05.108Z", "id": 523, "workflowId": "SjXGu8XmvLgCZaJu", "versionId": "563dd136-3916-448a-b955-0feed430ebaf", "event": "activated", "userId": "459911c5-b6ba-425a-82da-38c1f7677fde"}, {"createdAt": "2026-03-26T00:05:05.084Z", "id": 522, "workflowId": "SjXGu8XmvLgCZaJu", "versionId": "563dd136-3916-448a-b955-0feed430ebaf", "event": "deactivated", "userId": "459911c5-b6ba-425a-82da-38c1f7677fde"}]}}