n8n/WF-07-AGENT-EXECUTOR-V15.json
{
  "name": "WF-07-AGENT-EXECUTOR-V15",
  "nodes": [
    {
      "parameters": {
        "content": "## WF-07 — Agent Executor V15\n**Exército Comercial de IA — Motor Principal**\n\nV15: LangSmith tracing + real token/cost tracking.\n- Code - Capture Start: captura _start_time antes do AI Agent\n- Code - Calc Metrics: calcula tokens, custo, duração e gera langsmith_run_id\n- HTTP - Insert Run: agora preenche tokens_input, tokens_output, cost_usd, duration_ms, langsmith_run_id\n- HTTP - Send LangSmith: envia run para api.smith.langchain.com\n\n**TESTE MANUAL (após importar):**\nPOST https://n8n.julianosalles.com.br/webhook-test/agent-executor\n```json\n{\n  \"conversation_id\": \"483ff60f-909d-471e-ab53-109f916ad389\",\n  \"lead_id\": \"bcd4c7d6-a349-4e6b-8b48-0fd7023802fb\",\n  \"agent_id\": \"809664ac-d7cb-4280-a573-f251cca9d100\",\n  \"company_id\": \"32a1ab33-e2f2-4c33-b6b4-5a4d00e7e2ed\",\n  \"input_text\": \"Olá, tenho interesse no produto\",\n  \"content_type\": \"text\"\n}\n```",
        "height": 360,
        "width": 560,
        "color": 4
      },
      "id": "f0e1d2c3-b4a5-9687-8079-6a5b4c3d2e1f",
      "name": "Sticky Note - Instrução",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-executor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "agent-executor"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560002",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        280,
        140
      ]
    },
    {
      "parameters": {
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/ai_agents",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Webhook').item.json.body.agent_id }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560003",
      "name": "HTTP - Get Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/channel_connections",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "company_id",
              "value": "=eq.{{ $('Webhook').item.json.body.company_id }}"
            },
            {
              "name": "status",
              "value": "eq.active"
            },
            {
              "name": "select",
              "value": "external_id,status"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560018",
      "name": "HTTP - Get Connection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Webhook').item.json.body.lead_id }}"
            },
            {
              "name": "select",
              "value": "id,name,phone,email,company_id,column_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560004",
      "name": "HTTP - Get Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/agent_lead_memory",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "agent_id",
              "value": "=eq.{{ $('Webhook').item.json.body.agent_id }}"
            },
            {
              "name": "lead_id",
              "value": "=eq.{{ $('Webhook').item.json.body.lead_id }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560005",
      "name": "HTTP - Get Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        300
      ],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/agent_playbooks",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('HTTP - Get Agent').first().json.playbook_id ?? $('HTTP - Get Agent').item.json[0]?.playbook_id }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560006",
      "name": "HTTP - Get Playbook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "conversation_id",
              "value": "=eq.{{ $('Webhook').item.json.body.conversation_id }}"
            },
            {
              "name": "select",
              "value": "direction,content,content_type,created_at"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560007",
      "name": "HTTP - Get Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        300
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').item.json.body;\nconst agentRaw = $('HTTP - Get Agent').item.json;\nconst agent = Array.isArray(agentRaw) ? agentRaw[0] : agentRaw;\nconst leadRaw = $('HTTP - Get Lead').item.json;\nconst lead = Array.isArray(leadRaw) ? leadRaw[0] : leadRaw;\n\n// Memory (may be empty for new leads)\nlet memory = null;\ntry {\n  const memData = $('HTTP - Get Memory').item.json;\n  memory = Array.isArray(memData) ? memData[0] : memData;\n  if (!memory || !memory.id) memory = null;\n} catch(e) {}\n\n// Playbook (may be empty)\nlet playbook = null;\ntry {\n  const pbData = $('HTTP - Get Playbook').item.json;\n  playbook = Array.isArray(pbData) ? pbData[0] : pbData;\n  if (!playbook || !playbook.id) playbook = null;\n} catch(e) {}\n\n// Messages history\nlet messages = [];\ntry {\n  messages = $('HTTP - Get Messages').all().map(m => m.json);\n} catch(e) {}\n\n// Build history (reverse to chronological)\nconst history = messages.reverse().map(m => {\n  const role = m.direction === 'inbound' ? (lead.name || 'Lead') : 'Você';\n  return `${role}: ${m.content || ''}`;\n}).join('\\n') || 'Nenhuma mensagem anterior.';\n\n// Memory context\nconst memCtx = memory ? `\nMEMÓRIA COMERCIAL:\n- Estágio atual: ${memory.stage || 'new'}\n- Nível de interesse: ${memory.interest_level || 'não avaliado'}\n- Orçamento detectado: ${memory.budget_detected ? 'R$ ' + memory.budget_detected : 'não informado'}\n- Decisor: ${memory.decision_maker === true ? 'sim' : memory.decision_maker === false ? 'não' : 'não identificado'}\n- Objeções levantadas: ${(memory.detected_objections || []).join(', ') || 'nenhuma'}\n- Nº de abordagens: ${memory.approach_count || 0}\n- Nº de respostas: ${memory.response_count || 0}\n- Última ação: ${memory.last_action || 'nenhuma'}\n- Notas: ${memory.notes || 'nenhuma'}\n` : '(Lead novo — primeira interação deste agente)';\n\n// Playbook context\nconst pbCtx = playbook ? `\nPLAYBOOK:\nScripts de abertura: ${(playbook.opening_scripts || []).join(' | ') || 'não definido'}\nObjeções e respostas:\n${Object.entries(playbook.objection_map || {}).map(([k,v]) => `- \"${k}\" → \"${v}\"`).join('\\n') || 'não definido'}\nPerguntas de qualificação:\n${(playbook.qualification_questions || []).map(q => `- ${q.question}`).join('\\n') || 'não definido'}\n` : '';\n\n// Escalate rules\nconst escalate = agent.escalate_rules || {};\n\n// Replace variables in opening_script\nlet systemPrompt = agent.opening_script || `Você é um agente comercial da empresa. Tom: ${agent.tone || 'consultivo'}.`;\nsystemPrompt = systemPrompt\n  .replace(/\\{company_name\\}/g, 'NextSales')\n  .replace(/\\{\\{tone\\}\\}/g, agent.tone || 'consultivo')\n  .replace(/\\{\\{niche\\}\\}/g, agent.niche || 'geral')\n  .replace(/\\{\\{client_type\\}\\}/g, agent.client_type || 'medium')\n  .replace(/\\{\\{qualification_questions\\}\\}/g, (playbook?.qualification_questions || []).map(q => `- ${q.question}`).join('\\n') || 'a definir')\n  .replace(/\\{\\{objection_map\\}\\}/g, Object.entries(playbook?.objection_map || {}).map(([k,v]) => `- \"${k}\": \"${v}\"`).join('\\n') || 'a definir')\n  .replace(/\\{\\{max_followups\\}\\}/g, String(escalate.max_followups || 5))\n  .replace(/\\{\\{min_ticket\\}\\}/g, escalate.min_ticket_to_escalate ? `R$ ${escalate.min_ticket_to_escalate}` : 'não definido');\n\n// Full prompt\nconst fullPrompt = `${systemPrompt}\n\n━━━ CONTEXTO DO LEAD ━━━\nNome: ${lead.name || 'não informado'}\nEmpresa: ${lead.company || 'não informada'}\nTelefone: ${lead.phone || ''}\n\n━━━ ${memCtx}\n\n━━━ HISTÓRICO DA CONVERSA ━━━\n${history}\n${pbCtx}\n━━━ REGRAS DE ESCALAÇÃO ━━━\n- Máx. follow-ups sem resposta: ${escalate.max_followups || 5}\n- Escalar se interesse muito alto: ${escalate.escalate_on_high_interest ? 'SIM' : 'NÃO'}\n- Keywords para escalar: ${(escalate.keywords || []).join(', ') || 'nenhuma'}\n\n━━━ FERRAMENTAS DISPONÍVEIS ━━━\nVocê pode usar as tools abaixo para registrar decisões comerciais. Use com CRITÉRIO:\n\n- atualizar_memoria: use SOMENTE quando o lead revelar informação relevante (objeção, budget, prazo, cargo, nível de interesse claro). NÃO use em primeiras trocas genéricas.\n- agendar_followup: use quando o lead pedir para falar depois ou quando você decidir retomar em horário específico.\n- escalar_para_humano: use SOMENTE quando ocorrer UMA das condições abaixo:\n  1. Lead pedir proposta formal, contrato ou reunião com responsável\n  2. Lead confirmar budget acima do ticket mínimo definido nas regras\n  3. Lead usar exatamente uma das keywords de escalação listadas nas regras de escalação\n  NÃO escale por simples demonstração de interesse (\"tenho interesse\", \"quero saber mais\", etc.)\n\nNa maioria das interações, NÃO use nenhuma tool — apenas responda naturalmente ao lead.\nResponda APENAS com a mensagem natural para o lead. Não use aspas nem prefixos.`;\n\nconst userMessage = webhookData.input_text ||\n  (webhookData.content_type === 'proactive' ? 'INSTRUÇÃO INTERNA: Inicie uma abordagem proativa com este lead.' :\n   webhookData.content_type === 'followup' ? 'INSTRUÇÃO INTERNA: Execute o follow-up agendado com este lead.' :\n   'Olá');\n\nreturn [{ json: { systemPrompt: fullPrompt, userMessage, webhookData } }];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560008",
      "name": "Code - Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Capture start time and build Prompt lengths for token estimation\nconst buildPromptData = $('Code - Build Prompt').first().json;\n\nconst systemPrompt = buildPromptData.systemPrompt || '';\nconst userMessage = buildPromptData.userMessage || '';\n\nreturn [{\n  json: {\n    ...buildPromptData,\n    _start_time: new Date().toISOString(),\n    _prompt_char_length: systemPrompt.length + userMessage.length,\n  }\n}];"
      },
      "id": "b1c2d3e4-f5a6-7890-bcde-f01234567801",
      "name": "Code - Capture Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code - Capture Start').first().json.userMessage }}",
        "options": {
          "systemMessage": "={{ $('Code - Capture Start').first().json.systemPrompt }}",
          "maxIterations": 5
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560009",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "maxTokens": 800,
          "temperature": 0.7
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560010",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        1900,
        520
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "name": "atualizar_memoria",
        "description": "Registra e atualiza a memória comercial do lead: estágio atual, nível de interesse, objeções detectadas, notas da conversa. Use sempre após uma interação importante.",
        "method": "POST",
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/rpc/upsert_agent_lead_memory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_agent_id",
              "value": "={{ $('Webhook').first().json.body.agent_id }}"
            },
            {
              "name": "p_lead_id",
              "value": "={{ $('Webhook').first().json.body.lead_id }}"
            },
            {
              "name": "p_company_id",
              "value": "={{ $('Webhook').first().json.body.company_id }}"
            },
            {
              "name": "p_updates",
              "value": "={{ $fromAI('p_updates', 'JSON object with fields to update: stage (new|approached|responded|qualifying|qualified|meeting_scheduled|proposal_sent|negotiating|closed_won|closed_lost|inactive), interest_level (low|medium|high|very_high), detected_objections (array of strings), budget_detected (number), decision_maker (boolean), timeline_detected (string), last_action (string), next_action (string), next_action_at (ISO date), next_action_type (followup|call|meeting|proposal|none), approach_count (0 or 1), response_count (0 or 1), notes (string)') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560011",
      "name": "atualizar_memoria",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2100,
        520
      ]
    },
    {
      "parameters": {
        "name": "agendar_followup",
        "description": "Agenda o próximo follow-up com o lead. Use quando o lead precisar ser contactado novamente em um prazo específico. Informe a data/hora ISO 8601, o tipo (followup|call|meeting|proposal) e uma nota descritiva.",
        "method": "PATCH",
        "url": "=https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/agent_lead_memory?agent_id=eq.{{ $('Webhook').first().json.body.agent_id }}&lead_id=eq.{{ $('Webhook').first().json.body.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "next_action_at",
              "value": "={{ $fromAI('next_action_at', 'ISO 8601 datetime string for when to follow up') }}"
            },
            {
              "name": "next_action_type",
              "value": "={{ $fromAI('next_action_type', 'Type of next action: followup, call, meeting, or proposal') }}"
            },
            {
              "name": "next_action",
              "value": "={{ $fromAI('next_action', 'Short description of what to do in the next interaction') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560012",
      "name": "agendar_followup",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2300,
        520
      ]
    },
    {
      "parameters": {
        "name": "escalar_para_humano",
        "description": "Escala o atendimento para um humano. Use quando detectar: interesse muito alto, pedido de contrato/proposta formal, keywords de escalação, ou quando não conseguir avançar após múltiplas tentativas.",
        "method": "PATCH",
        "url": "=https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/conversations?id=eq.{{ $('Webhook').first().json.body.conversation_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "={{ $fromAI(\"status\", \"Always use value: in_progress\") }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560013",
      "name": "escalar_para_humano",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2500,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate token estimates, cost, duration and generate LangSmith run ID\nconst agentOutput = $('AI Agent').first().json.output || '';\nconst startData = $('Code - Capture Start').first().json;\nconst startTime = startData._start_time;\nconst promptCharLength = startData._prompt_char_length || 0;\n\nconst endTime = new Date().toISOString();\nconst durationMs = startTime ? Math.round(new Date(endTime) - new Date(startTime)) : 0;\n\n// Token estimation: ~4 chars per token (GPT-4o-mini)\nconst tokensInput = Math.ceil(promptCharLength / 4);\nconst tokensOutput = Math.ceil(agentOutput.length / 4);\n\n// GPT-4o-mini pricing: $0.15/1M input, $0.60/1M output\nconst costUsd = parseFloat(\n  ((tokensInput * 0.00000015) + (tokensOutput * 0.00000060)).toFixed(6)\n);\n\n// Generate UUID v4 for LangSmith run ID\nconst langsmithRunId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n  const r = Math.random() * 16 | 0;\n  return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n});\n\nreturn [{\n  json: {\n    ...$('AI Agent').first().json,\n    _tokens_input: tokensInput,\n    _tokens_output: tokensOutput,\n    _cost_usd: costUsd,\n    _duration_ms: durationMs,\n    _langsmith_run_id: langsmithRunId,\n    _start_time: startTime,\n    _end_time: endTime,\n    _prompt_char_length: promptCharLength,\n  }\n}];"
      },
      "id": "c2d3e4f5-a6b7-8901-cdef-012345678902",
      "name": "Code - Calc Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://easypanel.julianosalles.com.br/message/sendText/{{ encodeURIComponent($('HTTP - Get Connection').first().json.external_id) }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "LZLQMWZUSZSRPEIJLMVXBDPRQYVUZBCI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ ($('Webhook').first().json.body.contact_identifier || $('HTTP - Get Lead').first().json.phone || '').replace(/\\D/g, '') }}"
            },
            {
              "name": "text",
              "value": "={{ $('Code - Calc Metrics').first().json.output }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560014",
      "name": "HTTP - Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "conversation_id",
              "value": "={{ $('Webhook').first().json.body.conversation_id }}"
            },
            {
              "name": "direction",
              "value": "outbound"
            },
            {
              "name": "content",
              "value": "={{ $('Code - Calc Metrics').first().json.output }}"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "status",
              "value": "sent"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560015",
      "name": "HTTP - Insert Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2940,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/agent_runs",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_id",
              "value": "={{ $('Webhook').first().json.body.agent_id }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $('Webhook').first().json.body.lead_id }}"
            },
            {
              "name": "company_id",
              "value": "={{ $('Webhook').first().json.body.company_id }}"
            },
            {
              "name": "conversation_id",
              "value": "={{ $('Webhook').first().json.body.conversation_id }}"
            },
            {
              "name": "run_type",
              "value": "={{ $('Webhook').first().json.body.content_type === 'proactive' ? 'proactive' : $('Webhook').first().json.body.content_type === 'followup' ? 'followup' : 'response' }}"
            },
            {
              "name": "channel",
              "value": "whatsapp"
            },
            {
              "name": "input_text",
              "value": "={{ $('Webhook').first().json.body.input_text || '' }}"
            },
            {
              "name": "output_text",
              "value": "={{ $('Code - Calc Metrics').first().json.output }}"
            },
            {
              "name": "system_prompt",
              "value": "dynamic"
            },
            {
              "name": "model_used",
              "value": "gpt-4o-mini"
            },
            {
              "name": "outcome",
              "value": "sent"
            },
            {
              "name": "tokens_input",
              "value": "={{ $('Code - Calc Metrics').first().json._tokens_input }}"
            },
            {
              "name": "tokens_output",
              "value": "={{ $('Code - Calc Metrics').first().json._tokens_output }}"
            },
            {
              "name": "cost_usd",
              "value": "={{ $('Code - Calc Metrics').first().json._cost_usd }}"
            },
            {
              "name": "duration_ms",
              "value": "={{ $('Code - Calc Metrics').first().json._duration_ms }}"
            },
            {
              "name": "langsmith_run_id",
              "value": "={{ $('Code - Calc Metrics').first().json._langsmith_run_id }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560016",
      "name": "HTTP - Insert Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3220,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.smith.langchain.com/runs",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "LANGSMITH_API_KEY_REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=({\n  id: $('Code - Calc Metrics').first().json._langsmith_run_id,\n  name: 'NextSales Agent Run',\n  run_type: 'chain',\n  start_time: $('Code - Calc Metrics').first().json._start_time,\n  end_time: $('Code - Calc Metrics').first().json._end_time,\n  inputs: { input: $('Webhook').first().json.body.input_text || '' },\n  outputs: { output: $('Code - Calc Metrics').first().json.output || '' },\n  extra: {\n    metadata: {\n      agent_id: $('Webhook').first().json.body.agent_id,\n      company_id: $('Webhook').first().json.body.company_id,\n      lead_id: $('Webhook').first().json.body.lead_id,\n      model: 'gpt-4o-mini',\n      tokens_input: $('Code - Calc Metrics').first().json._tokens_input,\n      tokens_output: $('Code - Calc Metrics').first().json._tokens_output,\n      cost_usd: $('Code - Calc Metrics').first().json._cost_usd\n    }\n  },\n  session_name: 'nextsales-agents'\n})",
        "options": {},
        "continueOnFail": true
      },
      "id": "d3e4f5a6-b7c8-9012-def0-123456789003",
      "name": "HTTP - Send LangSmith",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/rpc/aggregate_agent_performance",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {},
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_company_id",
              "value": "={{ $('Webhook').first().json.body.company_id }}"
            },
            {
              "name": "p_date",
              "value": "={{ new Date().toISOString().slice(0,10) }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560017",
      "name": "HTTP - Upsert Performance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3780,
        300
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP - Get Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Agent": {
      "main": [
        [
          {
            "node": "HTTP - Get Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Connection": {
      "main": [
        [
          {
            "node": "HTTP - Get Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Lead": {
      "main": [
        [
          {
            "node": "HTTP - Get Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Memory": {
      "main": [
        [
          {
            "node": "HTTP - Get Playbook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Playbook": {
      "main": [
        [
          {
            "node": "HTTP - Get Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Messages": {
      "main": [
        [
          {
            "node": "Code - Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Prompt": {
      "main": [
        [
          {
            "node": "Code - Capture Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Capture Start": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code - Calc Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Calc Metrics": {
      "main": [
        [
          {
            "node": "HTTP - Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Send WhatsApp": {
      "main": [
        [
          {
            "node": "HTTP - Insert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Insert Message": {
      "main": [
        [
          {
            "node": "HTTP - Insert Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Insert Run": {
      "main": [
        [
          {
            "node": "HTTP - Send LangSmith",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Send LangSmith": {
      "main": [
        [
          {
            "node": "HTTP - Upsert Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_memoria": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agendar_followup": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "escalar_para_humano": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null
}