n8n/wf07-create.json
{"name":"WF-07-AGENT-EXECUTOR-V2","nodes":[{"parameters":{"content":"## WF-07 вЂ” Agent Executor V2\n**ExГ©rcito Comercial de IA вЂ” Motor Principal**\n\nValores reais preenchidos вЂ” pronto para importar e testar.\n\n**TESTE MANUAL (apГіs importar):**\nPOST https://n8n.julianosalles.com.br/webhook-test/agent-executor\n```json\n{\n  \"conversation_id\": \"483ff60f-909d-471e-ab53-109f916ad389\",\n  \"lead_id\": \"bcd4c7d6-a349-4e6b-8b48-0fd7023802fb\",\n  \"agent_id\": \"809664ac-d7cb-4280-a573-f251cca9d100\",\n  \"company_id\": \"32a1ab33-e2f2-4c33-b6b4-5a4d00e7e2ed\",\n  \"input_text\": \"OlГЎ, tenho interesse no produto\",\n  \"content_type\": \"text\"\n}\n```\n\n**IMPORTANTE:** O prompt Г© lido DINAMICAMENTE de ai_agents.opening_script.\nEdite em NextSales в†’ Agentes IA в†’ Editar Agente.","height":320,"width":500,"color":4},"id":"f0e1d2c3-b4a5-9687-8079-6a5b4c3d2e1f","name":"Sticky Note - InstruГ§ГЈo","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-200]},{"parameters":{"httpMethod":"POST","path":"agent-executor","responseMode":"responseNode","options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"webhookId":"agent-executor"},{"parameters":{"respondWith":"text","responseBody":"ok","options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560002","name":"Respond 200 OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[280,140]},{"parameters":{"url":"https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/ai_agents","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('Webhook').item.json.body.agent_id }}"},{"name":"select","value":"*"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560003","name":"HTTP - Get Agent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,300]},{"parameters":{"url":"https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/channel_connections","sendQuery":true,"queryParameters":{"parameters":[{"name":"company_id","value":"=eq.{{ $('Webhook').item.json.body.company_id }}"},{"name":"status","value":"eq.active"},{"name":"select","value":"external_id,status"},{"name":"limit","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"}]},"options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560018","name":"HTTP - Get Connection","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,460]},{"parameters":{"url":"https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/leads","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('Webhook').item.json.body.lead_id }}"},{"name":"select","value":"id,name,phone,email,company_id,column_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560004","name":"HTTP - Get Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,300]},{"parameters":{"url":"https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/agent_lead_memory","sendQuery":true,"queryParameters":{"parameters":[{"name":"agent_id","value":"=eq.{{ $('Webhook').item.json.body.agent_id }}"},{"name":"lead_id","value":"=eq.{{ $('Webhook').item.json.body.lead_id }}"},{"name":"select","value":"*"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560005","name":"HTTP - Get Memory","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,300],"continueOnFail":true,"alwaysOutputData":true},{"parameters":{"url":"https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/agent_playbooks","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('HTTP - Get Agent').first().json.playbook_id ?? $('HTTP - Get Agent').item.json[0]?.playbook_id }}"},{"name":"select","value":"*"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560006","name":"HTTP - Get Playbook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"continueOnFail":true,"alwaysOutputData":true},{"parameters":{"url":"https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"conversation_id","value":"=eq.{{ $('Webhook').item.json.body.conversation_id }}"},{"name":"select","value":"direction,content,content_type,created_at"},{"name":"order","value":"created_at.desc"},{"name":"limit","value":"10"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560007","name":"HTTP - Get Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,300],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"jsCode":"const webhookData = $('Webhook').item.json.body;\nconst agentRaw = $('HTTP - Get Agent').item.json;\nconst agent = Array.isArray(agentRaw) ? agentRaw[0] : agentRaw;\nconst leadRaw = $('HTTP - Get Lead').item.json;\nconst lead = Array.isArray(leadRaw) ? leadRaw[0] : leadRaw;\n\n// Memory (may be empty for new leads)\nlet memory = null;\ntry {\n  const memData = $('HTTP - Get Memory').item.json;\n  memory = Array.isArray(memData) ? memData[0] : memData;\n  if (!memory || !memory.id) memory = null;\n} catch(e) {}\n\n// Playbook (may be empty)\nlet playbook = null;\ntry {\n  const pbData = $('HTTP - Get Playbook').item.json;\n  playbook = Array.isArray(pbData) ? pbData[0] : pbData;\n  if (!playbook || !playbook.id) playbook = null;\n} catch(e) {}\n\n// Messages history\nlet messages = [];\ntry {\n  messages = $('HTTP - Get Messages').all().map(m => m.json);\n} catch(e) {}\n\n// Build history (reverse to chronological)\nconst history = messages.reverse().map(m => {\n  const role = m.direction === 'inbound' ? (lead.name || 'Lead') : 'VocГЄ';\n  return `${role}: ${m.content || ''}`;\n}).join('\\n') || 'Nenhuma mensagem anterior.';\n\n// Memory context\nconst memCtx = memory ? `\nMEMГ“RIA COMERCIAL:\n- EstГЎgio atual: ${memory.stage || 'new'}\n- NГ­vel de interesse: ${memory.interest_level || 'nГЈo avaliado'}\n- OrГ§amento detectado: ${memory.budget_detected ? 'R$ ' + memory.budget_detected : 'nГЈo informado'}\n- Decisor: ${memory.decision_maker === true ? 'sim' : memory.decision_maker === false ? 'nГЈo' : 'nГЈo identificado'}\n- ObjeГ§Гµes levantadas: ${(memory.detected_objections || []).join(', ') || 'nenhuma'}\n- NВє de abordagens: ${memory.approach_count || 0}\n- NВє de respostas: ${memory.response_count || 0}\n- Гљltima aГ§ГЈo: ${memory.last_action || 'nenhuma'}\n- Notas: ${memory.notes || 'nenhuma'}\n` : '(Lead novo вЂ” primeira interaГ§ГЈo deste agente)';\n\n// Playbook context\nconst pbCtx = playbook ? `\nPLAYBOOK:\nScripts de abertura: ${(playbook.opening_scripts || []).join(' | ') || 'nГЈo definido'}\nObjeГ§Гµes e respostas:\n${Object.entries(playbook.objection_map || {}).map(([k,v]) => `- \"${k}\" в†’ \"${v}\"`).join('\\n') || 'nГЈo definido'}\nPerguntas de qualificaГ§ГЈo:\n${(playbook.qualification_questions || []).map(q => `- ${q.question}`).join('\\n') || 'nГЈo definido'}\n` : '';\n\n// Escalate rules\nconst escalate = agent.escalate_rules || {};\n\n// Replace variables in opening_script\nlet systemPrompt = agent.opening_script || `VocГЄ Г© um agente comercial da empresa. Tom: ${agent.tone || 'consultivo'}.`;\nsystemPrompt = systemPrompt\n  .replace(/\\{company_name\\}/g, 'NextSales')\n  .replace(/\\{\\{tone\\}\\}/g, agent.tone || 'consultivo')\n  .replace(/\\{\\{niche\\}\\}/g, agent.niche || 'geral')\n  .replace(/\\{\\{client_type\\}\\}/g, agent.client_type || 'medium')\n  .replace(/\\{\\{qualification_questions\\}\\}/g, (playbook?.qualification_questions || []).map(q => `- ${q.question}`).join('\\n') || 'a definir')\n  .replace(/\\{\\{objection_map\\}\\}/g, Object.entries(playbook?.objection_map || {}).map(([k,v]) => `- \"${k}\": \"${v}\"`).join('\\n') || 'a definir')\n  .replace(/\\{\\{max_followups\\}\\}/g, String(escalate.max_followups || 5))\n  .replace(/\\{\\{min_ticket\\}\\}/g, escalate.min_ticket_to_escalate ? `R$ ${escalate.min_ticket_to_escalate}` : 'nГЈo definido');\n\n// Full prompt\nconst fullPrompt = `${systemPrompt}\n\nв”Ѓв”Ѓв”Ѓ CONTEXTO DO LEAD в”Ѓв”Ѓв”Ѓ\nNome: ${lead.name || 'nГЈo informado'}\nEmpresa: ${lead.company || 'nГЈo informada'}\nTelefone: ${lead.phone || ''}\n\nв”Ѓв”Ѓв”Ѓ ${memCtx}\n\nв”Ѓв”Ѓв”Ѓ HISTГ“RICO DA CONVERSA в”Ѓв”Ѓв”Ѓ\n${history}\n${pbCtx}\nв”Ѓв”Ѓв”Ѓ REGRAS DE ESCALAГ‡ГѓO в”Ѓв”Ѓв”Ѓ\n- MГЎx. follow-ups sem resposta: ${escalate.max_followups || 5}\n- Escalar se interesse muito alto: ${escalate.escalate_on_high_interest ? 'SIM' : 'NГѓO'}\n- Keywords para escalar: ${(escalate.keywords || []).join(', ') || 'nenhuma'}\n\nв”Ѓв”Ѓв”Ѓ FERRAMENTAS DISPONГЌVEIS в”Ѓв”Ѓв”Ѓ\nUse as tools para registrar decisГµes comerciais:\n- atualizar_memoria: registre estГЎgio, interesse, objeГ§Гµes, notas apГіs cada interaГ§ГЈo\n- agendar_followup: quando o lead precisar ser contactado novamente\n- escalar_para_humano: quando detectar interesse muito alto, pedido de contrato ou keyword de escalaГ§ГЈo\n\nResponda APENAS com a mensagem natural para o lead. NГЈo use aspas nem prefixos.`;\n\nconst userMessage = webhookData.input_text ||\n  (webhookData.content_type === 'proactive' ? 'INSTRUГ‡ГѓO INTERNA: Inicie uma abordagem proativa com este lead.' :\n   webhookData.content_type === 'followup' ? 'INSTRUГ‡ГѓO INTERNA: Execute o follow-up agendado com este lead.' :\n   'OlГЎ');\n\nreturn { systemPrompt: fullPrompt, userMessage, webhookData };"},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560008","name":"Code - Build Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,300]},{"parameters":{"promptType":"define","text":"={{ .first().json.userMessage }}","options":{"systemMessage":"={{ .first().json.systemPrompt }}","maxIterations":5}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560009","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1960,300]},{"parameters":{"model":"gpt-4o-mini","options":{"maxTokens":800,"temperature":0.7}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560010","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[1760,520],"credentials":{"openAiApi":{"id":"openai-credentials","name":"OpenAI API"}}},{"parameters":{"name":"atualizar_memoria","description":"Registra e atualiza a memГіria comercial do lead: estГЎgio atual, nГ­vel de interesse, objeГ§Гµes detectadas, notas da conversa. Use sempre apГіs uma interaГ§ГЈo importante.","method":"POST","url":"https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/rpc/upsert_agent_lead_memory","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"p_agent_id","value":"={{ $('Webhook').item.json.body.agent_id }}"},{"name":"p_lead_id","value":"={{ $('Webhook').item.json.body.lead_id }}"},{"name":"p_company_id","value":"={{ $('Webhook').item.json.body.company_id }}"},{"name":"p_updates","value":"={{ $fromAI('p_updates', 'JSON object with fields to update: stage (new|approached|responded|qualifying|qualified|meeting_scheduled|proposal_sent|negotiating|closed_won|closed_lost|inactive), interest_level (low|medium|high|very_high), detected_objections (array of strings), budget_detected (number), decision_maker (boolean), timeline_detected (string), last_action (string), next_action (string), next_action_at (ISO date), next_action_type (followup|call|meeting|proposal|none), approach_count (0 or 1), response_count (0 or 1), notes (string)') }}"}]},"options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560011","name":"atualizar_memoria","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1960,520]},{"parameters":{"name":"agendar_followup","description":"Agenda o prГіximo follow-up com o lead. Use quando o lead precisar ser contactado novamente em um prazo especГ­fico. Informe a data/hora ISO 8601, o tipo (followup|call|meeting|proposal) e uma nota descritiva.","method":"PATCH","url":"=https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/agent_lead_memory?agent_id=eq.{{ $('Webhook').item.json.body.agent_id }}&lead_id=eq.{{ $('Webhook').item.json.body.lead_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"next_action_at","value":"={{ $fromAI('next_action_at', 'ISO 8601 datetime string for when to follow up') }}"},{"name":"next_action_type","value":"={{ $fromAI('next_action_type', 'Type of next action: followup, call, meeting, or proposal') }}"},{"name":"next_action","value":"={{ $fromAI('next_action', 'Short description of what to do in the next interaction') }}"}]},"options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560012","name":"agendar_followup","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2160,520]},{"parameters":{"name":"escalar_para_humano","description":"Escala o atendimento para um humano. Use quando detectar: interesse muito alto, pedido de contrato/proposta formal, keywords de escalaГ§ГЈo, ou quando nГЈo conseguir avanГ§ar apГіs mГєltiplas tentativas.","method":"PATCH","url":"=https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/conversations?id=eq.{{ $('Webhook').item.json.body.conversation_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"keypair","options":{},"bodyParameters":{"parameters":[{"name":"status","value":"={{ $fromAI(\"status\", \"Always use value: in_progress\") }}"}]}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560013","name":"escalar_para_humano","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2360,520]},{"parameters":{"url":"=https://easypanel.julianosalles.com.br/message/sendText/{{ encodeURIComponent($('HTTP - Get Connection').first().json.external_id) }}","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"LZLQMWZUSZSRPEIJLMVXBDPRQYVUZBCI"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ ($('HTTP - Get Lead').first().json.phone || '').replace(/\\D/g, '') }}\",\n  \"text\": \"{{ $('AI Agent').item.json.output.replace(/\"/g, '\\\\\"') }}\"\n}","options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560014","name":"HTTP - Send WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,300],"continueOnFail":true},{"parameters":{"url":"https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/messages","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"conversation_id\": \"{{ $('Webhook').item.json.body.conversation_id }}\",\n  \"direction\": \"outbound\",\n  \"content\": \"{{ $('AI Agent').item.json.output.replace(/\"/g, '\\\\\"') }}\",\n  \"content_type\": \"text\",\n  \"status\": \"sent\"\n}","options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560015","name":"HTTP - Insert Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2520,300],"continueOnFail":true},{"parameters":{"url":"https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/agent_runs","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"agent_id\":\"{{ $('Webhook').item.json.body.agent_id }}\",\"lead_id\":\"{{ $('Webhook').item.json.body.lead_id }}\",\"company_id\":\"{{ $('Webhook').item.json.body.company_id }}\",\"conversation_id\":\"{{ $('Webhook').item.json.body.conversation_id }}\",\"run_type\":\"{{ $('Webhook').item.json.body.content_type === 'proactive' ? 'proactive' : $('Webhook').item.json.body.content_type === 'followup' ? 'followup' : 'response' }}\",\"channel\":\"whatsapp\",\"input_text\":\"{{ ($('Webhook').item.json.body.input_text || '').replace(/\\\"/g, '\\\\\\\\\\\"') }}\",\"output_text\":\"{{ $('AI Agent').item.json.output.replace(/\\\"/g, '\\\\\\\\\\\"') }}\",\"system_prompt\":\"dynamic\",\"model_used\":\"gpt-4o-mini\",\"outcome\":\"sent\"}","options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560016","name":"HTTP - Insert Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,300],"continueOnFail":true},{"parameters":{"url":"https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/agent_performance","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"agent_id\": \"{{ $('Webhook').item.json.body.agent_id }}\",\n  \"company_id\": \"{{ $('Webhook').item.json.body.company_id }}\",\n  \"period_date\": \"{{ new Date().toISOString().slice(0,10) }}\",\n  \"approaches\": {{ $('Webhook').item.json.body.content_type === 'proactive' ? 1 : 0 }},\n  \"responses\": {{ $('Webhook').item.json.body.content_type === 'text' || $('Webhook').item.json.body.content_type === 'audio' ? 1 : 0 }},\n  \"qualified\": 0,\n  \"meetings\": 0,\n  \"sales\": 0,\n  \"escalations\": 0,\n  \"revenue\": 0,\n  \"tokens_used\": 0\n}","options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234560017","name":"HTTP - Upsert Performance","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3080,300],"continueOnFail":true}],"connections":{"Webhook":{"main":[[{"node":"Respond 200 OK","type":"main","index":0},{"node":"HTTP - Get Agent","type":"main","index":0}]]},"HTTP - Get Agent":{"main":[[{"node":"HTTP - Get Lead","type":"main","index":0},{"node":"HTTP - Get Connection","type":"main","index":0}]]},"HTTP - Get Lead":{"main":[[{"node":"HTTP - Get Memory","type":"main","index":0}]]},"HTTP - Get Memory":{"main":[[{"node":"HTTP - Get Playbook","type":"main","index":0}]]},"HTTP - Get Playbook":{"main":[[{"node":"HTTP - Get Messages","type":"main","index":0}]]},"HTTP - Get Messages":{"main":[[{"node":"Code - Build Prompt","type":"main","index":0}]]},"Code - Build Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP - Send WhatsApp","type":"main","index":0}]]},"HTTP - Send WhatsApp":{"main":[[{"node":"HTTP - Insert Message","type":"main","index":0}]]},"HTTP - Insert Message":{"main":[[{"node":"HTTP - Insert Run","type":"main","index":0}]]},"HTTP - Insert Run":{"main":[[{"node":"HTTP - Upsert Performance","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"atualizar_memoria":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"agendar_followup":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"escalar_para_humano":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null}